@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: "Azeret Mono", monospace;
   
}
.banner {
    max-width: 1140px;
    height: 620px;
    border: 2px solid green;
    background-image: url(images/Hero-bg.png);
    margin: 0 auto;
}
#top{
    margin-top: 150px;
}
.banner-container{
    border: 3px solid red;
    width: 1000px;
    height: 570px;
}
.container{ 
    width: 90%;
    margin: 30px auto ;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container .firstimg{
margin-top: 30px;
}
.likha{
    margin-top: 25px;
    border: 2px solid forestgreen;
    width: 998px;
    height: 206px;
}
.likha h1{
    border: 7px dotted rgb(94, 50, 205);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 58px;
}
.likha p{ 
    margin-top: 10px;
    /* margin:  auto 80px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.btn{
    
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 20px;
    color:  white;
    background: black;
}

.develpment{
    margin-top: 120px;
    width: 1140px;
    height: 1450px;
    border: 2px solid green;
    margin: 0 auto;
}
.second-layer {
   width: 946px;
    height: 1250px;
    border: 3px solid rgb(76, 229, 62);
    margin: 80px 100px;
}
.upper-part {
    margin-top: 0;
    width: 852px;
    height: 113px;
    border: 2px solid rgb(221, 15, 15);
    text-align: center;
}
.second-layer .part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 946px;
    height: 350px;
    padding: 50px ;
    border: 5px solid rgb(36, 8, 138);
}
/* .inner_part{
    margin: 10px 50px ;
    border: 5px solid red;
} */
.paragraph{
    border: 2px solid gray;
    width: 50%;
    height: 300px;
    margin: 0px 5px;
}
.paragraph h2{
    width: 420px;
   height: 160px; 
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
}
.paragraph p{
    width: 490px;
    height: 115px;
    font-size: 16px;
    font-weight: 400;
}
.btn1{
    position: static;
    width: 100px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 67, 224);
    opacity: 0.7;
}
.second{
    margin-top: 30px;
}
.top-gap{
    margin-top: 30px;
}
.another{
    border: 3px solid cadetblue;
    width: 550px ;
    height: 250px;
}
.another h2{
    width: 490px;
   height: 140px; 
  
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
}
.another p{
   width: 490px;
   height: 80px;
}
.video{
    width: 1140px;
    height: 793px;
    border: 2px solid green;
    margin: 0 auto;
}
.inspire p{
   border: 2px solid rgb(229, 255, 0);
   margin-top: 28px;
}
.jhankar{
    width: 1140px;
height: 640px;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 3px solid  rgb(238, 255, 0);
}
.inner-shell{
    margin: 20px;
}
.harvard{
    border-radius: 20px;
}

#target{
    margin-top: 150px;
}
.target{
    width: 1140px;
    height: 460px;
    border: 2px solid forestgreen;
    margin-top: 150px ;
}
.new p{
    border: 2px solid burlywood;
    width: 90%;
    margin-top: 25px;
}
.main{
    width: 1140px;
    height: 300px;
    border: 2px solid rgb(235, 100, 237);
    display: flex;
    justify-content: space-evenly;
}
.mar{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 40px;
 }
.inner-part{
    width: 364px;
    height: 299px;
    border: 2px solid rgb(82, 23, 199);
    gap: 20;
}
#html{
    background: rgba(255, 76, 30, 0.05);
}
#css{
    background: rgba(0, 76, 232, 0.05);
}
#js{
    background: rgba(255, 223, 0, 0.05);
}

.next{
 width: 1140px;
height: 866px;
border: 2px solid purple;
margin: auto;
}
.here{
    border: 2px solid peru;
    width: 1140px;
    height: 866px;
}
.react{
    position: static;
    width: 1140px;
    height: 219px;
    border: 2px solid rgb(76, 229, 62);
    padding: 40px;
    display: flex;
}
.fram{
    margin-left: 20px;
   width: 892.49px;
    height: 140px;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   align-items: first baseline;
   justify-content: space-between;
}
.react-top{
    margin-bottom: 20px;
}
.support{
    background-image: url(images/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 50px ;
    width: 1140px;
    height: 400px;
  
}

.shake{
    border: 2px solid palegreen;
    margin: 70px auto;
        /* padding: 40px 50px; */
    width: 944px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.shake h1{
    color: white;
    font-size: 40px;
}
.shake p{
    text-align: center;
    color: azure;
     width: 600px;
    height: 85px;
    margin: 5px ;
     border: 2px solid rgb(152, 198, 251);
}
form{
    margin: 30px auto;
   display: flex;
  
}
input{
   width: 400px;
   padding: 19px 20px ;
   border-radius: 10px;
   margin: 0px 16px;
   border: none;
   box-sizing: border-box;

}
.btn{
    border-radius: 9px;
    background-color: rgb(232, 121, 121);
    /* background: color   image   repeat/no-repeat 
      position(left top, right button; */
    /* font: style weight size height family ; */
    /* border:  width style(solid) color ; */
    background-image: linear-gradient(45deg, rgb(233, 105, 180), rgba(194, 192, 44, 0.834));
    border: none;
    color: white;
    font-size: 25px;
    padding: 14px 28px;
    cursor: pointer;
    transition: all 1s ;
}

button:hover{
    background: lightseagreen;
}
.lastt{
    width: 1440px;
    height: 100px;
    /* border: 2px solid purple; */
    display: flex;
    margin: auto;
}
.last-p{
   
width: 1140px;
height: 36px;
padding: 32px 150px 32px 150px;
}
.social{
    display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-end;
}
 html {
      scroll-behavior: smooth; /* enables smooth scroll */
}
.mylove{
    margin-top: 150px;
}