@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: "Azeret Mono", monospace;
   background-color: antiquewhite;
}
.banner {
    max-width: 1140px;
    height: 620px;
    border: 2px solid green;
    background-image: url(images/Hero-bg.png);
    margin: 0 auto;
}
#top{
    margin-top: 100px;
}
.banner-container{
    border: 3px solid red;
    width: 1000px;
    height: 570px;
}
.container{ width: 90%;
    margin: 30px auto ;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container .firstimg{
margin-top: 30px;
}
.likha{
    margin-top: 25px;
    border: 2px solid forestgreen;
    width: 998px;
    height: 206px;
}
.likha h1{
    border: 7px dotted rgb(94, 50, 205);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 58px;
}
.likha p{ 
    margin-top: 10px;
    /* margin:  auto 80px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.btn{
    
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 20px;
    color:  white;
    background: black;
}

.develpment{
    margin-top: 120px;
    width: 1140px;
    height: 1450px;
    border: 2px solid green;
    margin: 0 auto;
}
.second-layer {
   width: 946px;
    height: 1250px;
    border: 3px solid rgb(76, 229, 62);
    margin: 80px 100px;
}
.upper-part {
    margin-top: 0;
    width: 852px;
    height: 113px;
    border: 2px solid rgb(221, 15, 15);
    text-align: center;
}
.second-layer .part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 946px;
    height: 350px;
    padding: 50px ;
    border: 5px solid rgb(36, 8, 138);
}
/* .inner_part{
    margin: 10px 50px ;
    border: 5px solid red;
} */
.paragraph{
    border: 2px solid gray;
    width: 50%;
    height: 300px;
    margin: 0px 5px;
}
.paragraph h2{
    width: 420px;
   height: 160px; 
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
}
.paragraph p{
    width: 490px;
    height: 115px;
    font-size: 16px;
    font-weight: 400;
}
.btn1{
    position: static;
    width: 100px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 67, 224);
    opacity: 0.7;
}
.second{
    margin-top: 30px;
}
.top-gap{
    margin-top: 30px;
}
.another{
    border: 3px solid cadetblue;
    width: 550px ;
    height: 250px;
}
.another h2{
    width: 490px;
   height: 140px; 
  
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
}
.another p{
   width: 490px;
   height: 80px;
}